REDIS_PASSWORD="redispass"
RABBITMQ_DEFAULT_USER="rmquser"
RABBITMQ_DEFAULT_PASS="rmqpass"

# App Database
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="tf2-automatic"
POSTGRES_HOST="postgres"

#Price-o-Tron
SECRET_TOKEN=""